body {
    display: grid;
    height: 200px;
    grid-template-areas: "head head"
                         "nav main"
                         "footer footer";
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 150px 1fr;

}

header {
    grid-area: head;
    background-color: lightsalmon;
    /* text-align: center;
    padding: 2em; */
}
.nav-bar {
    grid-area: nav;
    background-color: lightblue;

}
main {
    grid-area: main;
    background-color: #395B64;
    text-align: center;
    /* padding: 2em; */
    color: white;
   
}

footer {
    grid-area: footer;
    background-color: #A5C9CA;
    text-align: center;
    padding: 2em;
}

.parent {
    display: grid;
    grid-template-columns:  repeat(12, 1fr);

}

.segment {
    display: grid;
    text-align: center;
    place-items: center;
    grid-template-rows: 100px;
}

.twelve {
    background-color: lightseagreen;
    grid-column: 1/ span 12;
}

.eigth {
    background-color: bisque;
    grid-column: 5/ span 8;
}

.four {
    background-color: lightblue;
    grid-column: 1/ span 4;
}

.six {
    background-color: lightsteelblue;
    grid-column: 5/ span 6;
}

.seven {
    background-color: lightcoral;
    grid-column: 3/ span 7;
}